<!DOCTYPE HTML PUBLIC "-//W3C//DTDHTML4.01Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="es">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="robots" content="noindex, nofollow">
		<link rel="icon" type="image/png" href="https://recursos.partidodigital.org.uy/assets/img/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="https://recursos.partidodigital.org.uy/assets/img/favicon-32x32.png" sizes="32x32">
		{% if isPage %}
			<title>{pagetitle}</title>
			<meta name="description" content="{pagemetadescription}">
		{% elseif isEmail %}
			<title>{subject}</title>
		{% else %}
			<title>{{basetitle|default('Partido Digital')}}</title>
		{% endif %}
		<style>
			type="text/css"
			body,
			table,
			td,
			a {
				-webkit-text-size-adjust: 100%;
				-ms-text-size-adjust: 100%;
				font-family: Arial, sans-serif;
			}
			table,
			td {
				mso-table-lspace: 0;
				mso-table-rspace: 0;
			}
			img {
				border: 0;
				height: auto;
				line-height: 100%;
				outline: none;
				text-decoration: none;
				-ms-interpolation-mode: bicubic;
			}
			table {
				border-collapse: collapse !important;
			}
			body {
				font-family: 'Open Sans', Verdana, Arial, sans-serif;
				height: 100% !important;
				margin: 0 !important;
				padding: 0 !important;
				width: 100% !important;
				-webkit-font-smoothing: antialiased !important;
				font-smoothing: antialiased !important;
			}
			div[style*="margin: 16px 0;"] {
				margin: 0 !important;
			}
			a[x-apple-data-detectors] {
				color: inherit !important;
				text-decoration: none !important;
				font-size: inherit !important;
				font-family: inherit !important;
				font-weight: inherit !important;
				line-height: inherit !important;
			}
			.radius-top {
				border-radius: 20px 20px 0 0;
			}
			.radius-bottom {
				border-radius: 0 0 20px 20px;
			}
			a.btn {
				font-size: 20px;
				border: 2px solid #003366;
				text-decoration: none;
				font-weight: 700;
				color: white;
				background-color: #003366;
				white-space: normal;
				padding: 5px 7px;
				border-radius: 10px;
				line-height: 1.25;
				text-align: center;
			}
			a.btn:hover {
				color: #f36f21;
				border-color: #003366;
			}
			@media only screen and(min-width: 660px) {
				.shrinker {
					padding: 0 55px !important;
				}
				.c4 {
					width: 35% !important;
					float: left !important;
					display: block !important;
				}
				.c8 {
					width: 60% !important;
					padding-left: 5% !important;
					float: left !important;
					display: block !important;
				}
			}
			@media only screen and(max-width: 660px) {
				.shrinker {
					width: 100% !important;
				}
				.c1,
				.c2,
				.c3,
				.c4,
				.c5,
				.c6,
				.c7,
				.c8,
				.c10,
				.c11,
				.c12 {
					width: 100% !important;
					float: left !important;
					display: block;
					padding: 0 !important;
					margin: 10px 0 !important;
				}
			}
		</style>
	</head>
	<body style="margin:0; padding:0;"> 
        {% block content %}{% endblock %}
    </body>
</html>
