{% extends ":"~template~":base.html.twig" %}

{% set isPage = true %}

{% block title %}
    <h1 style="text-align: center; font-family: 'Open Sans', Verdana, Arial, sans-serif; font-size:36px; line-height:36px; font-weight:700; color:#212121; padding:0; margin:0;">
        <singleline>
            {pagetitle}
        </singleline>
    </h1>
{% endblock %}

{% block content %}
    {% block content %}{% endblock %}
{% endblock %}