{% extends ":"~template~":base.html.twig" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://unpkg.com/tailwindcss@1.9.4/dist/tailwind.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.0/dist/alpine.min.js"></script>
{% endblock %}

{% block content %}
<div class="app-home flex items-center justify-center text-center flex-col h-screen" style="background-color:#ee7211;" data-section-wrapper="1">
  <div class="bg-white overflow-hidden shadow rounded-lg" data-slot-container="1">
    <div class="px-4 py-5 sm:p-6">
      <img src="https://recursos.partidodigital.org.uy/assets/img/logo_horizontal_naranja.svg" class="w-full h-15 pb-4" alt="Partido Digital" />
      <div data-slot="text" class="text-left">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed metus felis, convallis porta cursus vehicula, iaculis at erat. Suspendisse quis pulvinar ligula. Etiam sagittis, velit a cursus sollicitudin, enim ex vestibulum felis, ac finibus dui dui ac est.
      </div>
    </div>
  </div>
</div>
{% endblock %}